body {
    background-color: rgb(209, 209, 209);
}

#pageContent ul {
    list-style: disc;
    padding-left: 1.25rem;
    max-width: 800px;
}


#pageContent li {
    display: flow-root;
    margin-bottom: 12px;
    line-height: 1.5;
   
}

#pageContent ul img {

    float: right;
    width: 150px;
    
    height: auto;
    margin: 0 0 8px 12px;
   
    border-radius: 8px;
    object-fit: cover;
     border: 2px dashed rgb(0, 0, 0);
    
    border-collapse: collapse;
   

}

#wrapper {
    margin-left: 150px;
    margin-right: 150px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 1150px;
    background-color: white;
    color: #333333;
}

#header {
    width: 99.8%;
    height: 50px;
    background: #b392ff;
    border: solid #CCCCCC thin;
    border-bottom: solid #d5c6ff 10px;
    border-top: solid #d5c6ff 10px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
    
}

a.button {
    padding: 6px;
    border: 1px outset buttonborder;
    border-radius: 7px;
    color: black;
    background-color: rgb(231, 230, 255);
    text-decoration: none;
    margin: 20px;
}

content {
    float: left;
    width: 102%;
}

#pageContent {
    float: left;
    color: #333333;
    line-height: 1.6;
    width: 95%;
    padding-left: 15px;
}

#content h2 {
    color: #5428a6;
    color: #8f76d4;
    padding-left: 5px;
}

#content h3 {
    color: #380091;
    margin-left: 0px;
}

#pageContent {
    padding-left: 15px
}

#pageContent img {
    display: block;
    width: 70%;
}

#pageContent li {
    padding-bottom: 10px;
}

#leftEdge {
    float: left;
    border-left: solid #CCCCCC thin;
    background: #7d55ec;
    width: 1%;
    height: 1060px;
}

#rightEdge {
    float: right;
    border-left: solid #CCCCCC thin;
    background: #7d55ec;
    width: 1%;
    height: 1060px;
}

#footer {
    width: 99.8%;
    text-align: center;
    float: left;
    font-size: 12px;
    font-style: italic;
    background: #bcffd6;
    border: solid #CCCCCC thin;
    border-top: none
}

#footer p {
    padding-left: 10px;
}

#pageContent p {
    padding-left: 20px;
    line-height: 1.6;
}

#menu img {
    margin-left: 18px;
    width: 90%;
    margin-top: 20px;
}
